
.drop-down-cart{
    position: absolute;
    right: 0px;
    top: 45px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    width: 14em;
    height: 17em;
    margin-right: 1em;
    background-color: white;
    z-index: 9;
    display: flex;
    flex-direction: column;
    right: -4px;
}

.drop-down-cart:before{
    content: '';
    border: 2px solid black;
    border-bottom: none;
    width: 38px;
    height: 38px;
    background-color: white;
    position: absolute;
    top: -40px;
    right: -2px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .drop-down-cart:before{
        width: 30px;
    }
  }

.drop-down-cart-list{
    display: flex;
    flex-direction: column;
    height:13em;
    overflow-y: scroll;
}

.drop-down-cart-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.drop-down-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; 
    
}

.empty-message{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-transform:none;
    font-size: medium;
}

