.Collection-Title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.Collection-Style{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25em, 1fr) );
    gap: 2em;
    margin: 0em;
    width: 100%;
    justify-items: center;
}

@media only screen and (max-width: 500px) {
    .Collection-Style {
        grid-template-columns: repeat( auto-fit, minmax(20em, 1fr) );
    }
  }