.header{
    height: 7vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    text-transform: Uppercase;
    font-size: large;
    width: 100%;
}
.rightPart{
    padding: 3em;
    display: flex;
    align-items:center;    
}
.leftPart{
    display: flex;
    min-width: 45vw;
    justify-content: space-around;
    align-items:center;    
}
.imgCrown{
    width: 3em;
    height: auto;
    cursor: pointer;
}


.imgCart{
    width: 2em;
    height: auto;
    cursor: pointer;
}

.imgCart:hover{
    opacity: 0.75;
}


.spanHeader{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 0.5em;
}

.spanHeader:hover{
    color: rgba(0, 0, 0, 0.7);
}
