.header{
    height: 55px;
    display: flex;
    align-items:center;
    text-transform: Uppercase;
    font-size: large;
    width: 100%;
}
.leftPart{
    padding: 3em;
    display: flex;
    align-items:center;    
}
.rightPart{
    display: flex;
    min-width: 25%;
    justify-content: space-evenly;
    align-items:center; 
    margin-left: auto; 
}
.imgCrown{
    width: 3em;
    height: auto;
    cursor: pointer;
}



.spanHeader{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 0.5em;
}

.spanHeader:hover{
    color: rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 550px) {
    .header{
        font-size: 8px;
    }
  }