.header{
    height: 7vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    text-transform: Uppercase;
    font-size: medium;
}
.rightPart{
    margin: 3em;
    display: flex;
    align-items:center;    
}
.leftPart{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items:center;    
}
.imgCrown{
    width: 3em;
    height: auto;
}

.imgCart{
    width: 2em;
    height: auto;
    cursor: pointer;
}

.imgCart:hover{
    opacity: 0.75;
}


span{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
}

span:hover{
    color: rgba(0, 0, 0, 0.7);
}