.directory-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1.35fr;
    grid-template-areas:
      "a a b b c c"
      "d d d e e e";
    height: 75vh;
    margin: 1em 1em;
  }
