.checkout-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 55%;
    min-width: 500px;
    margin: 50px auto;
}

.checkout-total{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 36px;
    
}
